In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../dataset/log_session_4_08_to_5_08_Pure.csv")
df.head()

,user_id,video_id,date,hourmin,time_ms,is_click,is_like,is_follow,is_comment,is_forward,...,long_view,play_time_ms,duration_ms,profile_stay_time,comment_stay_time,is_profile_enter,is_rand,tab,position,session
0,2,5109,20220409,2200,1649511658199,0,0,0,0,0,...,0,0,102666,0,0,0,0,0,0,0
1,2,1225,20220409,2200,1649512800964,0,0,0,0,0,...,0,4131,148916,0,0,0,0,1,1,0
2,2,3876,20220409,2200,1649512857118,1,0,0,0,0,...,1,26962,89666,0,0,0,0,1,2,0
3,2,6524,20220409,2200,1649513113860,1,0,0,0,0,...,1,103267,119666,0,0,1,0,1,3,0
4,2,627,20220410,800,1649550881733,1,0,0,0,0,...,1,165844,161316,0,0,1,0,1,14,1